.home img {
    width: 100%;
    height: 650px;
    position: absolute;
}
.texth1 {
    height: 100px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-right: 100px;
}
.texth3{
    line-height: 40px;
    width: 800px;
    margin-left: 350px;
    position: relative;
}